* {
  padding: 0;
  margin: 0;
}
.dialog {
  width: 600px;
  height: 600px;
  background-color: #5c5ccc;
  border-radius: 0 0 50% 50%;
  position: fixed;
  left: calc(50% - 300px);
  top: calc(50% - 300px);
}
.dialog .title {
  position: absolute;
  top: 10px;
  left: 15px;
  width: calc(100% - 30px);
  background: #eee;
  text-align: center;
  color: #666;
  cursor: move;
}
.dialog .child {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -60%);
  background: #f66;
  padding: 15px;
  color: #666;
}
.dialog .child input {
  margin-top: 15px;
  padding: 6px;
  border: none;
  line-height: 30px;
}
